.more-ways{
    padding: 74px 0 108px;
    @media (max-width:768px){
        padding: 40px 0 80px;
    }

    &__inner{

        h2{
            font-size: 64px;
            font-weight: 600;
            line-height: 75px;
            margin-bottom: 62px;
            @media (max-width:768px){
                font-size: 32px;
                line-height: 37px;
                margin-bottom: 32px;
            }
        }

        .cols{
            display: grid;
            grid-template-columns: 427px 2fr;
            border-bottom: 1px solid #143F3480;
            @media (max-width:768px){
                grid-template-columns: 1fr;
                gap: 40px;
                border-bottom: none;;
            }

            .col-email{
                border-right: 1px solid #143F3480;
                @media (max-width:768px){
                    border-right: none;
                }

                a{
                    display: flex;
                    gap: 24px;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 28.13px;
                    color: #0A0A0A;
                    text-decoration: none;
                    align-items: center;
                    
                    &:hover{
                        color: #47B782;
                    }
                }
            }

            .col-addess{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 89px;
                padding: 0 100px 80px;
                @media (max-width:768px){
                    grid-template-columns: 1fr;
                    gap: 30px;
                    padding: 0;
                }

                .item{

                    span{
                        display: flex;
                        gap: 24px;
                        margin-bottom: 38px;
                        align-items: center;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 28.13px;
                    }

                    img{
                        width: 100%;
                        object-fit: cover;
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}