.footer{
    padding: 40px 0;

    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding: 0 0 40px;
        @media (max-width: 768px){
            grid-template-columns: 1fr;
        }
    }

    &__col-menu{
        display: flex;
        gap: 24px;
        @media (max-width: 768px){
            flex-direction: column;
        }

        .more-menu, .menu-legal, .footer-contacts{
            flex: 1;

            h3{
                font-size: 16px;
                font-weight: 700;
                line-height: 18.75px;
                color: #47B782;
                margin-bottom: 24px;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 16px;

                li{
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 18.75px;

                    a{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 18.75px;
                        text-decoration: none;
                        color: #0A0A0A;

                        &:hover{
                            color: #47B782;
                        }
                    }
                }
            }
        }

        .more-menu{

            ul{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 16px;
            }
        }

        .footer-contacts{

            ul{

                li{
                    font-weight: 400;

                    a{
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &__bottom{
        border-top: 1px solid rgba(20, 63, 52, 0.5019607843);
        padding-top: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: center;
    }
}